# 1. Bỏ qua file chứa thông tin nhạy cảm
config.properties

# 2. Bỏ qua các thư mục chứa code đã biên dịch
build/
target/
*.class

# 3. Bỏ qua các file cấu hình của IDE
.classpath
.project
.settings/
.vscode/

# 4. Bỏ qua các file log hệ thống
*.log
Thumbs.db
.DS_Store